body{
    
    text-align: center;
    color: #333;
}
h1{color: purple;}
a{text-decoration: none;}


li{list-style: none;
display: inline;
margin-right: 10px;
}
#div_master{

    width: 71%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin:  0 auto;
}
#container{
    font-size: 20px;

}